In [1]:
import statsmodels.formula.api as smf
import dbconnect as db

conn = db.connect("mgibson_dui")

Connected!

In [8]:
import pandas as pd

# Added all fatal accidents in MO 2013&2015 to table in Postgres called best_acc2015

accDF = pd.read_sql_query("SELECT * FROM %s;" % "best_acc2015", conn)

In [9]:
accDF.head()

accDF.to_csv('accidents_2015total.csv')
# get percentage of drunk drivers per census tract, percentage of rural
# also add the census tract data to this table and run regressions

In [5]:
changes = ['youngdriver', 'posbac', 'hitnrun', 'drowsy', 'daytime', 'weekday']

# we want to make 1: true, 0: false


accDF[changes] = accDF[changes].replace(2, 0)
accDF['posbac'] = accDF['posbac'].replace(3, 0)  # if the drivers BAC is unknown, it must be zero
accDF.head()

X = accDF[changes]
y = accDF['fatals']

accDF.head()

,index,fips,year,state,st_case,fatals,daytime,weekday,posbac,youngdriver,hitnrun,drowsy
0,16685,29186,2015,29,290001,1,1,1,1,0,0,0
1,16686,29186,2015,29,290002,1,1,0,0,0,0,0
2,16687,29183,2015,29,290003,2,0,1,1,1,0,0
3,16688,29167,2015,29,290004,1,1,1,0,0,0,1
4,16689,29099,2015,29,290005,1,0,1,1,0,0,0

In [17]:
# count the number of accidents involving young drivers
import numpy as np


print(y.groupby(X.youngdriver).count())
print(y.groupby(X.posbac).count())

youngdriver
0    1260
1     225
Name: fatals, dtype: int64
posbac
0    1082
1     403
Name: fatals, dtype: int64

In [24]:
accDF.pivot_table(values=['fatals'], index=['youngdriver', 'posbac'], aggfunc=len)

# breakdown of drunk drivers and young drivers, 1: true, 0: false

                    fatals
youngdriver posbac
0           0          902
            1          358
1           0          180
            1           45